.to-top {
  display: block;
  position: relative;
}

.to-top > .inner > a {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.125em;
  bottom: 15px;
  display: block;
  height: 28px;
  margin: 0 0 0 auto;
  overflow: hidden;
  position: fixed;
  right: 20px;
  text-align: center;
  transition: 200ms ease-in-out 0s;
  width: 36px;
  z-index: 50;
  cursor: pointer;
  font-size: 25px;
}

.to-top > .inner > a > span {
  margin: 0 auto;
  height: 11px;
  position: relative;
  /* top: 1px; */
  width: 20px;
}

.site-map {
  display: block;
}

.site-map > div {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  height: 50px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #efefef;
  border-bottom: 1px solid #bfbfbf;
  cursor: pointer;
}

.site-map > div > h2 {
  color: #656565;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
  display: block;
}

.site-map > div > div {
  width: 14px;
  height: 14px;
  position: relative;
}

.site-map > div > div > span {
  position: absolute;
  color: #656565;
}

div.english-footer {
  display: block;
}

div.english-footer > nav.siteMapNav {
  background-color: #efefef;
  height: 0px;
  overflow: hidden;
  min-width: 100%;
  display: block;
  transition: 300ms ease-out;
}

div.english-footer > nav > div.english-footer-inner {
  margin: 0 auto;
  width: 100%;
  display: block;
}

div.english-footer > nav > div.english-footer-inner > ul {
  display: flex;
  color: #656565;
  flex-wrap: wrap;
  padding: 10px 20px;
}

div.english-footer > nav > div.english-footer-inner > ul > li {
  width: 100%;
  color: #656565;
  display: list-item;
  margin-bottom: 30px;
  background-color: #efefef;
}

div.english-footer > nav > div.english-footer-inner > ul > li > h3 {
  font-family: sans-serif;
  font-size: 100%;
  font-weight: 700;
  margin: 1em 0;
  display: block;
}

div.english-footer > nav > div.english-footer-inner > ul > li > ul {
  margin-top: calc(1em + 10px);
  display: block;
}

div.english-footer > nav > div.english-footer-inner > ul > li > ul > li {
  width: 100%;
  font-size: 88%;
  line-height: 1.6rem;
  list-style: none;
  margin-bottom: 5px;
  padding-right: 10px;
  color: #656565;
  font-family: sans-serif;
}

div.english-footer > nav > div.english-footer-inner > ul > li > ul > li > a {
  color: #656565;
  text-decoration: none;
  /* visibility: hidden; */
}

div.english-footer
  > nav
  > div.english-footer-inner
  > ul
  > li
  > ul
  > li
  > a:hover {
  text-decoration: underline;
  color: black;
}

div.english-footer > nav > div.english-footer-inner > ul > li > ul > ul {
  margin-left: 10px;
  display: block;
}

div.english-footer > nav > div.english-footer-inner > ul > li > ul > ul > li {
  width: 100%;
  font-size: 88%;
  line-height: 1.6rem;
  margin-bottom: 5px;
  padding-right: 10px;
}

div.english-footer
  > nav
  > div.english-footer-inner
  > ul
  > li
  > ul
  > ul
  > li
  > a {
  font-family: sans-serif;
  color: #656565;
  text-decoration: none;
  background-color: #efefef;
  cursor: pointer;
}

div.english-footer
  > nav
  > div.english-footer-inner
  > ul
  > li
  > ul
  > ul
  > li
  > a:hover {
  text-decoration: underline;
  color: black;
}

footer {
  display: block;
}

footer > .footer-wrap {
  min-width: auto;
  background-color: #1f2024;
  padding: 0;
}

footer > .footer-wrap > .footer {
  position: relative;
  max-width: 1190px;
  height: auto;
  margin: 0 auto;
  padding: 20px 20px;
  font-family: sans-serif;
}

footer > .footer-wrap > .footer > nav {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

footer > .footer-wrap > .footer > nav > ul {
  overflow: hidden;
  display: block;
}

footer > .footer-wrap > .footer > nav > ul > li {
  float: none;
  display: block;
  margin: 0 0 20px;
}

footer > .footer-wrap > .footer > nav > ul > li > a {
  font-size: 0.875em;
  font-family: sans-serif;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 2px;
}

footer > .footer-wrap > .footer > nav > ul > li > a:hover {
  color: #a5a5a5;
  border-bottom: 1px solid white;
}

footer > .footer-wrap > .footer > .copyright {
  font-family: sans-serif;
  position: relative;
  top: 0;
  left: 0;
  color: #898991;
  font-size: 0.75em;
}
