header {
  width: 100%;
  max-height: 64px;
  background-color: black;
  color: white;
}

.header {
  width: 100%;
  height: 64px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #363636;
}

.logo {
  width: 96px;
  height: 64px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.header > .logo > a > img {
  position: relative;
  width: 96px;
  top: 50%;
  transform: translate(0, -50%);
}

.header > .icon-search {
  float: left;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 0 8px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.icon-search:hover {
  color: cornflowerblue;
}

.searchBox-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.searchBox {
  width: calc(105% - 54px);
  height: 64px;
  background-color: white;
  position: relative;
  left: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBox > input {
  width: 80%;
  height: 40px;
  border: 1px solid #ddd;
  appearance: none;
  font-size: 13px;
  padding-left: 5px;
  /* float: left; */
  /* margin-top: 10px; */
  box-shadow: 0 3px 2px rgb(227, 227, 227);
  /* position: absolute;
  left: 0; */
}

.searchBox > .icon-search {
  width: 40px;
  height: 40px;
  background-color: #999;
  transition: 0.32s ease-out;
  /* float: left; */
  /* margin-top: -2px; */
  /* margin-left: -10px; */
  box-shadow: 0 3px 2px rgb(227, 227, 227);
  /* position: absolute;
  right: 0; */
  color: white;
  border: none;
  font-size: 17px;
}

.searchBox > .icon-search:hover {
  color: white;
}

.searchBox-container > a {
  width: 54px;
  height: 64px;
  position: absolute;
  left: 0;
  background-color: white;
}

.searchBox-container > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid darkgray;
  border-right: none;
  border-top: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.devider {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.header > .devider > .top {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  top: 0;
  transform: rotate(-45);
  transition: 200ms;
}

.header > .devider > .middle {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  top: 50%;
  opacity: 1;
}

.opacity0 {
  opacity: 0;
}

.header > .devider > .bottom {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  top: 100%;
  transition: 200ms;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.header > nav {
  width: 100%;
  background-color: black;
  position: absolute;
  transform: translate(0, 64px);
  transition: 200ms ease-in-out;
  z-index: 99;
  height: 0;
  overflow: auto;
  float: right;
}

.header > nav > ul {
  list-style: none;
  /* position: relative; */
  /* height: 0; */
}

.header > nav > ul > li {
  position: relative;
  /* height: 60.8px; */
  vertical-align: baseline;
  font-family: sans-serif;
  /* padding: 0 10px; */
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: lighter;
  cursor: pointer;
  border-bottom: 1px solid #262626;
}

.header > nav > ul > li > div:first-of-type {
  text-decoration: none;
  height: 60.8px;
  position: relative;
  color: white;
  visibility: hidden;
  transition: 200ms ease-in-out;
  padding: 22px 26px;
}

.horizontal {
  content: " ";
  width: 13px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: 26px;
  top: 50%;
  transform: translate(0, -50%) rotate(0);
  transition: 320ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
}

/* .header > nav > ul > li:first-of-type > div:first-of-type::before {
  display: none;
} */

.vertical {
  content: " ";
  width: 1px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translate(0, -50%) rotate(0);
  transition: 320ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* .header > nav > ul > li:first-of-type > div:first-of-type::after {
  display: none;
} */

.businesses {
  width: 100%;
  height: 0;
  background-color: #262626;
  position: relative;
  /* position: absolute;
  top: 100%;
  left: 0; */
  transition: 480ms cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}

.busiChild {
  visibility: hidden;
}

.open-business {
  height: 544px;
}

.close {
  height: 0;
}

.businesses > a {
  width: calc(100% - 52px);
  height: 1px;
  background-color: #363636;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
  color: white;
}

ul > li {
  list-style: none;
}

.businesses > div > h2 {
  font-size: 17px;
  height: 53px;
  position: relative;
}

.businesses > div > h2 > a {
  font-size: 17px;
  height: 53px;
  font-weight: 300;
  position: absolute;
  line-height: 52px;
  padding-left: 26px;
}

.businesses > div > h2 > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -12%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.businesses > div > ul {
  height: 472px;
}

.businesses > div > ul > li {
  height: 49px;
  position: relative;
}

.businesses > div > ul > li > a {
  height: 45px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 51px;
}

.businesses > div > ul :nth-child(1) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.businesses > div > ul :nth-child(2) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -60%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.businesses > div > ul :nth-child(3) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.businesses > div > ul :nth-child(4) {
  height: 178px;
  padding-top: 14px;
}

.businesses > div > ul :nth-child(4) > a {
  height: 78px;
  line-height: 25px;
  top: 0;
  padding-top: 14px;
}

.businesses > div > ul :nth-child(4) > ul {
  transform: translateY(49px);
  height: 100px;
}

.businesses > div > ul :nth-child(4) > ul > li {
  padding: 28px 26px 14px 65px;
  height: 50px;
}

.businesses > div > ul :nth-child(4) > ul > li > a {
  font-size: 14px;
}

.businesses > div > ul :nth-child(4) > ul :nth-child(1) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 33%;
  right: 59%;
  transform: rotate(-45deg);
}

.businesses > div > ul :nth-child(4) > ul :nth-child(2) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 84%;
  right: 45%;
  transform: rotate(-45deg);
}

.businesses > div > ul :nth-child(5) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.businesses > div > ul :nth-child(6) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -22%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.businesses > div > ul :nth-child(7) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -25%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.about {
  width: 100%;
  height: 0;
  background-color: #262626;
  position: relative;
  /* position: absolute;
  top: 100%;
  left: 0; */
  transition: 480ms cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}

.aboChild {
  visibility: hidden;
}

.about > a {
  width: calc(100% - 52px);
  height: 1px;
  background-color: #363636;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.open-about {
  height: 464px;
}

.about > div > h2 {
  font-size: 17px;
  height: 53px;
  position: relative;
}

.about > div > h2 > a {
  font-size: 17px;
  height: 53px;
  font-weight: 300;
  position: absolute;
  line-height: 52px;
  padding-left: 26px;
}

.about > div > h2 > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -12%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.about > div > ul {
  height: 472px;
}

.about > div > ul > li {
  height: 49px;
  position: relative;
}

.about > div > ul > li > a {
  height: 45px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 51px;
}

.about > div > ul :nth-child(1) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -14%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.about > div > ul :nth-child(2) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.about > div > ul :nth-child(3) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -25%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.about > div > ul :nth-child(4) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -25%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.about > div > ul :nth-child(5) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -60%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.about > div > ul :nth-child(6) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -55%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.about > div > ul :nth-child(7) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -25%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.about > div > ul :nth-child(8) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.tech {
  width: 100%;
  height: 0;
  background-color: #262626;
  position: relative;
  /* position: absolute;
  top: 100%;
  left: 0; */
  transition: 480ms cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}

.techChild {
  visibility: hidden;
}

.tech > a {
  width: calc(100% - 52px);
  height: 1px;
  background-color: #363636;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.open-tech {
  height: 464px;
}

.tech > div > h2 {
  font-size: 17px;
  height: 53px;
  position: relative;
}

.tech > div > h2 > a {
  font-size: 17px;
  height: 53px;
  font-weight: 300;
  position: absolute;
  line-height: 52px;
  padding-left: 26px;
}

.tech > div > h2 > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.tech > div > ul {
  height: 472px;
}

.tech > div > ul > li {
  height: 49px;
  position: relative;
}

.tech > div > ul > li > a {
  height: 45px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 51px;
}

.tech > div > ul :nth-child(1) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -18%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.tech > div > ul :nth-child(2) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -35%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.tech > div > ul :nth-child(3) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -30%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.tech > div > ul :nth-child(4) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -32%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.tech > div > ul :nth-child(5) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.tech > div > ul :nth-child(6) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -40%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.tech > div > ul :nth-child(7) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.employees > div > ul :nth-child(8) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -30%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.employees {
  width: 100%;
  height: 0;
  background-color: #262626;
  position: relative;
  /* position: absolute;
  top: 100%;
  left: 0; */
  transition: 480ms cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}

.empChild {
  visibility: hidden;
}

.employees > a {
  width: calc(100% - 52px);
  height: 1px;
  background-color: #363636;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.open-employees {
  height: 170px;
}

.employees > div > h2 {
  font-size: 17px;
  height: 53px;
  position: relative;
}

.employees > div > h2 > a {
  font-size: 17px;
  height: 53px;
  font-weight: 300;
  position: absolute;
  line-height: 52px;
  padding-left: 26px;
}

.employees > div > h2 > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.employees > div > ul {
  height: 472px;
}

.employees > div > ul > li {
  height: 49px;
  position: relative;
}

.employees > div > ul > li > a {
  height: 45px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 51px;
}

.employees > div > ul :nth-child(1) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -45%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.employees > div > ul :nth-child(2) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -32%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sustain {
  width: 100%;
  height: 0;
  background-color: #262626;
  position: relative;
  /* position: absolute;
  top: 100%;
  left: 0; */
  transition: 480ms cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}

.susChild {
  visibility: hidden;
}

.sustain > a {
  width: calc(100% - 52px);
  height: 1px;
  background-color: #363636;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.open-sustain {
  height: 415px;
}

.sustain > div > h2 {
  font-size: 17px;
  height: 53px;
  position: relative;
}

.sustain > div > h2 > a {
  font-size: 17px;
  height: 53px;
  font-weight: 300;
  position: absolute;
  line-height: 52px;
  padding-left: 26px;
}

.sustain > div > h2 > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sustain > div > ul {
  height: 472px;
}

.sustain > div > ul > li {
  height: 49px;
  position: relative;
}

.sustain > div > ul > li > a {
  height: 45px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 51px;
}

.sustain > div > ul :nth-child(1) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sustain > div > ul :nth-child(2) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -22%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sustain > div > ul :nth-child(3) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -37%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sustain > div > ul :nth-child(4) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -23%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sustain > div > ul :nth-child(5) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sustain > div > ul :nth-child(6) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -35%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sustain > div > ul :nth-child(7) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -18%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.design {
  width: 100%;
  height: 0;
  background-color: #262626;
  position: relative;
  /* position: absolute;
  top: 100%;
  left: 0; */
  transition: 480ms cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}

.desChild {
  visibility: hidden;
}

.design > a {
  width: calc(100% - 52px);
  height: 1px;
  background-color: #363636;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.open-design {
  height: 317px;
}

.design > div > h2 {
  font-size: 17px;
  height: 53px;
  position: relative;
}

.design > div > h2 > a {
  font-size: 17px;
  height: 53px;
  font-weight: 300;
  position: absolute;
  line-height: 52px;
  padding-left: 26px;
}

.design > div > h2 > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.design > div > ul {
  height: 472px;
}

.design > div > ul > li {
  height: 49px;
  position: relative;
}

.design > div > ul > li > a {
  height: 45px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 51px;
}

.design > div > ul :nth-child(1) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -60%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.design > div > ul :nth-child(2) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.design > div > ul :nth-child(3) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -18%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.design > div > ul :nth-child(4) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -45%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.design > div > ul :nth-child(5) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -65%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.investor {
  width: 100%;
  height: 0;
  background-color: #262626;
  position: relative;
  /* position: absolute;
  top: 100%;
  left: 0; */
  transition: 480ms cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}

.invChild {
  visibility: hidden;
}

.investor > a {
  width: calc(100% - 52px);
  height: 1px;
  background-color: #363636;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.open-investor.investor {
  height: 317px;
}

.investor > div > h2 {
  font-size: 17px;
  height: 53px;
  position: relative;
}

.investor > div > h2 > a {
  font-size: 17px;
  height: 53px;
  font-weight: 300;
  position: absolute;
  line-height: 52px;
  padding-left: 26px;
}

.investor > div > h2 > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.investor > div > ul {
  height: 472px;
}

.investor > div > ul > li {
  height: 49px;
  position: relative;
}

.investor > div > ul > li > a {
  height: 45px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 51px;
}

.investor > div > ul :nth-child(1) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -55%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.investor > div > ul :nth-child(2) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.investor > div > ul :nth-child(3) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -27%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.investor > div > ul :nth-child(4) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -22%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.investor > div > ul :nth-child(5) > a::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 50%;
  right: -18%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header > nav > ul > li:last-of-type {
  height: 120px;
  padding: 0;
}

.header > nav > ul > li:last-of-type > ul {
  width: 100%;
  height: 100%;
}

.header > nav > ul > li:last-of-type > ul > li {
  width: 100%;
  height: 60px;
  padding-left: 26px;
}

.header > nav > ul > li:last-of-type > ul > li > a {
  line-height: 60px;
  transform: translateY(50%);
}

.header > nav > ul > li:last-of-type > ul > li:first-of-type {
  border-bottom: 1px solid #262626;
}
