.container {
  width: 100%;
  padding-bottom: 88px;
  border-top: 1px solid #bfbfbf;
}

.container > .inner {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
}

.container > .inner > .inner-sub {
  /* display: block; */
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 16px;
  width: 100%;
  background-color: white;
}

.container > .inner > .inner-sub > ul.extra-news {
  width: 100%;
  background-color: #fff;
  list-style: none;
  display: block;
  margin: 0 0 11px;
  margin-bottom: 15px;
}

.container > .inner > .inner-sub > ul.extra-news > li {
  display: inline;
}

.container > .inner > .inner-sub > ul.extra-news > li > a {
  line-height: 1.375rem;
  align-items: flex-start;
  color: #3865e0;
  display: flex;
  justify-content: left;
  text-decoration: none;
  font-family: sans-serif;
}

.container > .inner > .inner-sub > ul.extra-news > li > a > .exclamation {
  height: 20px;
  /* position: relative; */
  /* top: 2px; */
  width: 20px;
  font-size: 20px;
  /* margin-bottom: 4px; */
}

.container > .inner > .inner-sub > ul.extra-news > li > a > p {
  /* font-size: 1rem; */
  padding-left: 7px;
  /* flex: 1; */
  line-height: 1.375rem;
  font-size: 0.875rem;
  width: 250px;
}

.container > .inner > .inner-sub > ul.extra-news > li > a > .fa-angle-right {
  top: 1px;
  position: relative;
  font-size: 17px;
  font-weight: 500;
}

.container > .inner > .inner-sub > ul.extra-news > li > a:hover > p {
  text-decoration: underline;
}

.container
  > .inner
  > .inner-sub
  > ul.extra-news
  > li
  > a:hover
  > .fa-angle-right {
  color: black;
}

.container > .inner > .inner-sub > .language-select {
  /* display: block; */
  margin-right: -2px;
  padding-bottom: 13px;
  padding-top: 10px;
  width: 100%;
}

.container > .inner > .inner-sub > .language-select > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  display: block;
}

.container > .inner > .inner-sub > .language-select > ul > li {
  display: inline-block;
  color: #656565;
  font-family: sans-serif;
}

.container > .inner > .inner-sub > .language-select > ul > li {
  font-size: 0.75rem;
  display: inline-block;
  line-height: 1px;
  padding: 5px;
}

.container > .inner > .inner-sub > .language-select > ul > li:first-of-type {
  font-weight: 700;
}

.container
  > .inner
  > .inner-sub
  > .language-select
  > ul
  > li:last-of-type::before {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #656565;
  display: block;
  transform: rotate(-60deg);
  margin: -1px -10px;
}

.container
  > .inner
  > .inner-sub
  > .language-select
  > ul
  > li:last-of-type:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container > .inner > section.headline-news {
  min-height: 32.73333vw;
  padding: 12px 16px;
  margin-bottom: 26px;
  background-color: #f2f2f2;
  display: block;
  position: relative;
}

.container > .inner > section.headline-news > div {
  display: block;
}

.container > .inner > section.headline-news > div > .headline-news-anchor-link {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  align-items: center;
  justify-content: left;
  margin: 0 0 7px;
  position: relative;
}

.container
  > .inner
  > section.headline-news
  > div
  > .headline-news-anchor-link
  > a {
  font-size: 0.875rem;
  font-family: sans-serif;
  color: #656565;
  font-weight: 700;
}

.container
  > .inner
  > section.headline-news
  > div
  > .headline-news-anchor-link
  > a
  > br {
  display: none;
}

.container
  > .inner
  > section.headline-news
  > div
  > .headline-news-anchor-link
  > a
  > span.fa-angle-down {
  margin-left: 5px;
  transform: rotate(-90deg);
  font-size: 18px;
  top: 5px;
}

.container
  > .inner
  > section.headline-news
  > div
  > .headline-news-anchor-link
  > a:hover {
  text-decoration: underline;
}

.container > .inner > section.headline-news > div > .headline-news-itme {
  display: block;
  /* align-items: center; */
  border-top: 1px solid #bfbfbf;
  /* justify-content: left;
  min-height: 50px; */
  padding-top: 10px;
  /* padding-right: 28px; */
}

.container > .inner > section.headline-news > div > .headline-news-itme > a {
  color: #000;
  display: block;
  font-size: 0.875rem;
  line-height: 1.28125rem;
  text-decoration: none;
  cursor: pointer;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

.container
  > .inner
  > section.headline-news
  > div
  > .headline-news-itme
  > a:hover {
  text-decoration: underline;
}

.container > .inner > .panels {
  width: 100%;
  background-color: #fff;
  display: block;
}

.container > .inner > .panels > .panels-container {
  width: 100%;
  background-color: #fff;
  display: block;
}

.container > .inner > .panels > .panels-container > .panels-block {
  /* overflow: hidden; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: start; */
}

.container > .inner > .panels > .panels-container > .panels-block-2x2 {
  width: 100%;
}

.container > .inner > .panels > .panels-container > .panels-block-2x2 > .panel {
  display: block;
  position: relative;
  text-decoration: none;
  padding-bottom: 6.66667vw;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape {
  width: 100%;
  padding-top: 43.2vw;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-image {
  width: 100%;
  height: 43.2vw;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  display: block;
  overflow: hidden;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-image
  > picture {
  cursor: pointer;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-image
  > picture
  > img {
  height: 100%;
  opacity: 1;
  transform: translateY(0);
  object-fit: cover;
  width: 100%;
  transition: 600ms ease-out;
  visibility: visible;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-image
  > picture
  > img:hover {
  opacity: 0.6;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-content {
  padding-top: 2.93333vw;
  display: flex;
  flex-direction: column;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-content
  > span {
  height: 5.33333vw;
  margin-bottom: 1.86667vw;
  margin-top: 1.86667vw;
  display: flex;
  font-size: 0.875rem;
  line-height: 1;
  color: #186fa4;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0 1px;
  vertical-align: middle;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-content
  > a {
  line-height: 1.125rem;
  font-size: 0.875rem;
  font-family: sans-serif;
  font-weight: 400;
  /* white-space: pre-wrap; */
  /* display: block; */
  text-decoration: none;
  line-height: 5.46667vw;
  color: #656565;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-content
  > a:hover {
  text-decoration: underline;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait {
  width: 100%;
  display: block;
  padding-bottom: 6.66667vw;
  position: relative;
  padding-top: 108vw;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-image {
  width: 100%;
  border: 1px solid #bfbfbf;
  transition: 300ms ease-out;
  height: 108vw;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  display: block;
  overflow: hidden;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-image:hover {
  border: 1px solid #dedede;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-image
  > picture
  > img {
  opacity: 1;
  transform: translateY(0);
  transition: 600ms ease-out;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-image
  > picture
  > img:hover {
  opacity: 0.6;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-content {
  padding-top: 2.93333vw;
  display: flex;
  flex-direction: column;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-content
  > span {
  height: 5.33333vw;
  margin-bottom: 1.86667vw;
  margin-top: 1.86667vw;
  display: flex;
  font-size: 0.875rem;
  line-height: 1;
  color: #186fa4;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0 1px;
  vertical-align: middle;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-content
  > a {
  line-height: 1.125rem;
  font-size: 0.875rem;
  font-family: sans-serif;
  font-weight: 400;
  /* white-space: pre-wrap; */
  /* display: block; */
  text-decoration: none;
  line-height: 5.46667vw;
  color: #656565;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-content
  > a:hover {
  text-decoration: underline;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-content
  > a:last-of-type {
  margin-top: 1.33333vw;
  font-size: 0.875rem;
  color: #3865e0;
  display: block;
  font-weight: 700;
  text-decoration: none;
  line-height: 5.46667vw;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-content
  > a:last-of-type
  > span {
  /* height: 12px; */
  margin-left: 5px;
  top: 2px;
  /* width: 7px; */
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-content
  > a:last-of-type:hover {
  text-decoration: underline;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-portrait
  > .panel-content
  > a:last-of-type:hover
  > span {
  color: black;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-content
  > a:last-of-type {
  margin-top: 1.33333vw;
  font-size: 0.875rem;
  color: #3865e0;
  display: block;
  font-weight: 700;
  text-decoration: none;
  line-height: 5.46667vw;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-content
  > a:last-of-type
  > span {
  /* height: 12px; */
  margin-left: 5px;
  top: 2px;
  /* width: 7px; */
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-content
  > a:last-of-type:hover {
  text-decoration: underline;
}

.container
  > .inner
  > .panels
  > .panels-container
  > .panels-block-2x2
  > .panel-landscape
  > .panel-content
  > a:last-of-type:hover
  > span {
  color: black;
}

.container > .inner > .socials {
  display: block;
}

.container > .inner > .socials > .social-title {
  margin: 60px 0 24px;
  text-align: center;
  display: block;
}

.container > .inner > .socials > .social-title > h3 {
  font-family: sans-serif;
  font-size: 16px;
  display: block;
  font-weight: bold;
  text-align: center;
  color: #656565;
}

.container > .inner > .socials > .social-logo {
  /* width: 480px; */
  width: 100%;
  margin: 0 auto;
  display: block;
}

.container > .inner > .socials > .social-logo > ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 208px;
  padding-left: 0;
  font-size: 0.875rem;
}

.container > .inner > .socials > .social-logo > ul > li {
  list-style: none;
  /* margin-right: 64px; */
  opacity: 1;
  margin-right: 0;
}

.container > .inner > .socials > .social-logo > ul > li:hover {
  color: #656565;
  opacity: 0.6;
}

.container > .inner > .socials > .social-logo > ul > li > a {
  cursor: pointer;
  font-size: 0.875rem;
}

.container > .inner > .socials > .social-logo > ul > li > a > picture > img {
  display: inline-block;
  width: 48px;
  height: 48px;
}

.container > .inner > .social-policy {
  margin: 30px auto 0;
  width: 200px;
}

.container > .inner > .social-policy > a {
  text-decoration: none;
  color: #656565;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 0.875rem;
}

.container > .inner > .social-policy > a > span {
  margin-left: 5px;
  font-size: 18px;
  top: 2px;
  position: relative;
  line-height: 1px;
}

.container > .inner > .social-policy > a:hover {
  text-decoration: underline;
}

.container > .inner > .social-policy > a:hover > span {
  color: black;
}

.container > .inner > section.news {
  padding-top: 53px;
  display: block;
}

.container > .inner > section.news > div {
  margin-bottom: 40px;
  display: block;
}

.container > .inner > section.news > div > header {
  margin-bottom: 33px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.container > .inner > section.news > div > header > h2 {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  display: block;
  color: #656565;
}

.container > .inner > section.news > div > header > a {
  font-size: 1rem;
  font-family: sans-serif;
  text-decoration: none;
  color: #656565;
}

.container > .inner > section.news > div > header > a > span {
  position: relative;
  top: 1px;
  margin-left: 5px;
  line-height: 1;
}

.container > .inner > section.news > div > header > a:hover {
  text-decoration: underline;
}

.container > .inner > section.news > div > header > a:hover > span {
  color: #000;
}

.container > .inner > section.news > div > ul {
  width: 100%;
  list-style: none;
  display: block;
}

.container > .inner > section.news > div > ul > li {
  /* margin-bottom: 7px; */
  display: list-item;
}

.container > .inner > section.news > div > ul > li > a {
  width: 100%;
  display: flex;
  align-items: baseline;
  text-decoration: none;
  width: 100%;
  color: #656565;
  cursor: pointer;
}

.container > .inner > section.news > div > ul > li > a:hover {
  text-decoration: underline;
}

.container > .inner > section.news > div > ul > li > a > div.time {
  width: 100px;
  font-size: 0.6875rem;
  line-height: 1.5rem;
  padding-bottom: 11px;
  padding-top: 11px;
  vertical-align: top;
  color: #656565;
  font-weight: 700;
  font-family: sans-serif;
}

.container > .inner > section.news > div > ul > li > a > div:nth-of-type(2) {
  font-size: 0.85rem;
  line-height: 2rem;
  padding-bottom: 11px;
  padding-top: 11px;
}

.container
  > .inner
  > section.news
  > div
  > ul
  > li
  > a
  > div:nth-of-type(2)
  > span {
  font-family: sans-serif;
  line-height: 1.4375rem;
  color: #000;
  display: block;
}

.container > .inner > section.news > a {
  display: flex;
  width: 100%;
  height: 57px;
  /* margin: 0 auto; */
  /* min-width: 384px; */
  position: relative;
  align-items: center;
  border: 1px solid #bfbfbf;
  justify-content: space-between;
  padding: 0 38px;
  text-decoration: none;
  font-size: 1rem;
  font-family: sans-serif;
  cursor: pointer;
}

.container > .inner > section.news > a > span {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 100%;
  align-items: center;
  color: #656565;
  font-size: 1rem;
}

.container > .inner > section.news > a > span > span {
  line-height: 1.2;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
}

.container > .inner > section.news > a > span > span > img {
  height: 20px;
  margin-right: 10px;
  vertical-align: text-bottom;
  width: 13px;
}

.container > .inner > section.news > a > span.fa-angle-right {
  padding-left: 10px;
  position: absolute;
  right: 10px;
  top: 0;
  width: 38px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #656565;
  font-size: 18px;
}

.container > .inner > section.news > a:hover {
  background-color: #d3d3d3;
}

.container > .inner > section.news > a:hover > span.fa-angle-right {
  color: #000;
}

.container > .inner > section.news > a:hover > span > span {
  color: #fff;
}

.fa-minus,
.fa-plus {
  color: black;
}
