.slider {
  max-width: 640px;
  height: 520px;
  background-color: yellow;
}

.slider-bar {
  width: 100%;
  height: 483px;
  background-color: yellowgreen;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-section {
  width: 75vw;
  height: 473px;
  background-color: violet;
  vertical-align: top;
  display: inline-block;
  position: relative;
  margin-right: 17px;
}

.slider-section > picture {
  width: 100%;
  height: auto;
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-section > picture > img {
  width: 100%;
  object-fit: cover;
}

.slider-section-1 {
  margin-left: calc((-75%) + ((100% - 75vw) / 2) - 17px);
}

.slider-controls {
  width: 100%;
  height: 38px;
  background-color: tomato;
}
