.slider {
  min-width: 1190px;
  height: 520px;
}

.slider-bg {
  width: 100%;
  height: 520px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-bg-cover {
  width: 100%;
  height: 520px;
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
  top: 70px;
  left: 0;
}

.slider-bg:first-child {
  margin-left: -100%;
}

.slider-bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
  transform: scale(1.02);
}

.slider-bar {
  width: 100%;
  height: 483px;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 70px;
}

.slider-bar > button {
  width: 20px;
  height: 20px;
  background-color: unset;
  border: 2px solid white;
  transform: rotate(45deg);
  position: absolute;
}

.slider-bar > button.previous-slide {
  left: 180px;
  bottom: 3%;
  border-top: none;
  border-right: none;
}

.slider-bar > button.next-slide {
  left: 950px;
  bottom: 3%;
  border-bottom: none;
  border-left: none;
}

.slider-section {
  width: 695px;
  height: 473px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  margin-right: 30px;
}

.slider-section-1 {
  margin-left: calc((-60%) + ((100% - 695px) / 2) - 30px);
}

.slider-section > picture {
  width: 100%;
  height: 390px;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-section > picture > img {
  width: 100%;
  height: 390px;
  border-radius: 5px;
  object-fit: cover;
}

.slider-section > .caption {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: sans-serif;
  color: white;
  transition: 500ms;
}

.slider-section > .caption > span {
  font-size: 0.875rem;
  font-weight: bold;
}

.slider-section > .caption > a > h2 {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 3px;
  margin-top: 8px;
}

.slider-section > .caption > a > p {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: lighter;
}

.slider-section > .caption > a:hover {
  text-decoration: underline;
}

.slider-controls {
  width: 100%;
  height: 38px;
  margin-top: -37px;
}
